/* A kép és szöveg konténerének stílusai */
.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;  /* Megakadályozza, hogy a szöveg vagy a kép kilógjon */
    border-bottom: 3px solid #000000; /* Kép körüli keret */
    border-radius: 5% 5% 0 0; /* Csak a felső sarkok lekerekítése */
    object-fit: cover;

}

/* A kép alapértelmezett stílusa */
.image {
    
    object-fit: cover;
    max-width: 100%;
    height: auto;    
    transition: filter 0.3s ease; /* Fokozatosan változik a filter */
}

/* Az overlay szöveg, ami alapértelmezett állapotban rejtve van */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Félig átlátszó fekete háttér */
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;  /* Alapértelmezés szerint rejtve van */
    transition: opacity 0.3s ease;  /* Szép fokozatos megjelenés */
}

/* Hover hatás: amikor az egér rákerül a képre */
.image-container:hover .overlay {
    opacity: 1;  /* Megjeleníti a szöveget */
}

/* Hover hatás a képre: amikor az egér rákerül */
.image-container:hover .image {
    filter: blur(5px);  /* A kép homályosítása */
}
/* csak az aktív oldalcím legyen aláhúzva */

/* .active {
   text-decoration: underline;
}*/






